name: Run Tests Allure

on:
  push:
    branches: [ main, master, lesson22 ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: lesson22
    steps:
    - name: Get code
      uses: actions/checkout@v4
    
    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 20
    
    - name: Install packages
      run: npm ci
    
    - name: Install browser
      run: npx playwright install --with-deps chromium
    
    - name: Run tests
      run: npm run test
    
    - name: Create Allure report
      if: always()
      run: npx allure generate allure-results --clean
    
    - name: Save report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: test-report
        path: lesson22/allure-report/
